<%= form_with(model: marketing_affiliate, local: true) do |form| %>

  <div class="field">
    <%= form.label :marketing_affiliate_name %>
    <%= form.text_field :marketing_affiliate_name %>
  </div>

  <div class="field">
    <%= form.label :marketing_affiliate_button_name %>
    <%= form.text_field :marketing_affiliate_button_name %>
  </div>

  <div class="field">
    <%= form.label :marketing_affiliate_url %>
    <%= form.text_field :marketing_affiliate_url %>
  </div>

  <div class="field">
    <%= form.label :marketing_affiliate_original_url %>
    <%= form.text_field :marketing_affiliate_original_url %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
