<p id="notice"><%= notice %></p>

<p>
  <strong>Seo title:</strong>
  <%= @marketing_optimization.seo_title %>
</p>

<p>
  <strong>Seo description:</strong>
  <%= @marketing_optimization.seo_description %>
</p>

<p>
  <strong>Seo open graph type:</strong>
  <%= @marketing_optimization.seo_open_graph_type %>
</p>

<p>
  <strong>Seo open graph url:</strong>
  <%= @marketing_optimization.seo_open_graph_url %>
</p>

<p>
  <strong>Seo open graph title:</strong>
  <%= @marketing_optimization.seo_open_graph_title %>
</p>

<p>
  <strong>Seo open graph description:</strong>
  <%= @marketing_optimization.seo_open_graph_description %>
</p>

<p>
  <strong>Seo twitter url:</strong>
  <%= @marketing_optimization.seo_twitter_url %>
</p>

<p>
  <strong>Seo twitter title:</strong>
  <%= @marketing_optimization.seo_twitter_title %>
</p>

<p>
  <strong>Seo twitter description:</strong>
  <%= @marketing_optimization.seo_twitter_description %>
</p>

<%= link_to 'Edit', edit_marketing_optimization_path(@marketing_optimization) %> |
<%= link_to 'Back', marketing_optimizations_path %>
