<p id="notice"><%= notice %></p>

<p>
  <strong>Page Title:</strong>
  <%= @marketing_optimization.marketing_optimization_page_title %>
</p>

<p>
  <strong>Page Description:</strong>
  <%= @marketing_optimization.marketing_optimization_page_description %>
</p>

<p>
  <strong>Open Graph Title:</strong>
  <%= @marketing_optimization.marketing_optimization_og_title %>
</p>

<p>
  <strong>Open Graph Description:</strong>
  <%= @marketing_optimization.marketing_optimization_og_description %>
</p>

<p>
  <strong>Open Graph Type:</strong>
  <%= @marketing_optimization.marketing_optimization_og_type %>
</p>

<p>
  <strong>Open Graph URL:</strong>
  <%= @marketing_optimization.marketing_optimization_og_url %>
</p>

<p>
  <strong>Twitter Title:</strong>
  <%= @marketing_optimization.marketing_optimization_twitter_title %>
</p>

<p>
  <strong>Twitter Description:</strong>
  <%= @marketing_optimization.marketing_optimization_twitter_description %>
</p>

<p>
  <strong>Twitter Type:</strong>
  <%= @marketing_optimization.marketing_optimization_twitter_type %>
</p>

<p>
  <strong>Twitter URL:</strong>
  <%= @marketing_optimization.marketing_optimization_twitter_url %>
</p>

<%= link_to 'Edit', edit_marketing_optimization_path(@marketing_optimization) %> |
<%= link_to 'Back', marketing_optimizations_path %>
