<!-- Form - Category -->
<%= form_with(model: post_category, local: true) do |form| %>

   <!-- PHCNotifi Render Validation -->
    <%= render "phcdevworks_notifications/bootstrap/validations", :object => @post_category %>
    <!-- PHCNotifi Render Validation -->

    <!-- Form Input Fields -->
    <div class="form-group">
        <%= form.label :post_category_name, "Category Name" %>
        <%= form.text_field :post_category_name, class: "form-control" %>
    </div>
    
	<div class="form-group">
		<label>Attach SEO Data</label>
		<%= collection_select(:post_category, :optimization_id, PhcdevworksCoreModules::Marketing::Optimization.order("marketing_optimization_page_title"), :id, :marketing_optimization_page_title, {}, {class: "form-control"}) %>
	</div>
    <!-- Form Input Fields -->

    <!-- Form Submition Button -->
    <div class="actions">
        <%= form.submit class: "btn btn-primary" %>
    </div>
    <!-- For Submition Button -->

<% end %>
<!-- Form - Category -->
