<!-- Form - Command - Post -->
<%= form_with(model: modules_category, local: true) do |form| %>

    <!-- PHCNotifi Render Validation -->
    <%= render "phcdevworks_notifications/bootstrap/validations", :object => @modules_category %>
    <!-- PHCNotifi Render Validation -->

    <!-- Form Input Fields -->
    <div class="form-group">
        <%= form.label :category_name, "Category Name" %>
        <%= form.text_field :category_name, class: "form-control" %>
    </div>
    <!-- Form Input Fields -->

    <!-- Form Submition Button -->
    <div class="actions">
        <%= form.submit class: "btn btn-primary" %>
    </div>
    <!-- For Submition Button -->

<% end %>
<!-- Form - Command - Post -->
